services:
  _defaults:
    autowire: true
    autoconfigure: true

  Netmex\Lumina\:
    resource: '../src/*'

  Netmex\Lumina\Schema\RegistrySchemaSDLLoader:
    tags: ['lumina.schema_sdl_loader']

  Netmex\Lumina\Schema\DirectiveSchemaSDLLoader:
    tags: ['lumina.schema_sdl_loader']

  Netmex\Lumina\Schema\CompositeSchemaSDLLoader:
    arguments:
      $loaders: !tagged_iterator lumina.schema_sdl_loader

  Netmex\Lumina\Schema\SchemaSDLLoaderInterface:
    alias: Netmex\Lumina\Schema\CompositeSchemaSDLLoader

  # FIELD directives
  Netmex\Lumina\Directives\AllDirective:
    tags:
      - { name: lumina.directive.field }
      - { name: lumina.schema_sdl }

  # Executors
  Netmex\Lumina\Directives\WhereDirective:
    tags:
      - { name: lumina.directive.argument }
      - { name: lumina.schema_sdl }

  Netmex\Lumina\Schema\FileSchemaSource:
    arguments:
      $path: '%lumina.schema.directory%'
    tags: ['lumina.schema_source']

  Netmex\Lumina\Schema\SchemaSourceRegistry:
    arguments:
      $sources: !tagged_iterator lumina.schema_source

  # Directives
  Netmex\Lumina\Execution\AllExecutor:
    arguments: ['@serializer']
    tags: ['lumina.executor']