services:
  _defaults:
    autowire: true
    autoconfigure: true

  Netmex\Lumina\:
    resource: '../src/*'
    exclude:
      - '../src/LuminaBundle.php'
      - '../src/Controller'

  Netmex\Lumina\Controller\:
    resource: '../src/Controller'
    tags: ['controller.service_arguments']

  Netmex\Lumina\Schema\FileSchemaSource:
    arguments:
      $path: '%lumina.schema.directory%'
    tags: ['lumina.schema_source']

  Netmex\Lumina\Schema\SchemaSourceRegistry:
    arguments:
      $sources: !tagged_iterator lumina.schema_source
#
#  Netmex\Lumina\Execution\WebonyxGraphQLExecutor:
#    arguments:
#      $container: !tagged_locator
#        tag: 'lumina.graphql_resolver'
#
#  Netmex\Lumina\Schema\FileSchemaProvider:
#    arguments:
#      $path: '%lumina.schema.directory%'
#
#  Netmex\Lumina\Directive\Definition\:
#    resource: '../src/Directive/Definition/*'
#    tags: ['lumina.graphql.directive']
#
#  Netmex\Lumina\Directive\DirectiveRegistry:
#    arguments:
#      $directives: !tagged_iterator lumina.graphql.directive
