services:
  _defaults:
    autowire: true
    autoconfigure: true

  Netmex\Lumina\:
    resource: '../src/*'

  Netmex\Lumina\Schema\Compiler\IntentCompiler:
    arguments:
      $serviceLocator: !tagged_locator lumina.directive